
.title {
  color: darkcyan;
}

.form {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}
.input {
  color: blue;
  border: 1px solid lightseagreen;
  margin: 10px;
}
.label {
  color: lightseagreen;
  margin: 10px;
}
.btnAdd {
  width: 200px;
  height: 30px;
  background-color: lightblue;
  color: darkmagenta;
  border-radius: 25%;
  font-weight: bold;
}
.btnReset {
  margin-left: 15px;
  width: 80px;
  height: 30px;
  background-color: lightblue;
  color: darkmagenta;
  font-weight: bold;
}
.table {
  border: solid 2px black;
  width: 100%;
  text-align: left;
}

.eachTh {
  color: lightsalmon;
  border-bottom: solid 1px black;
  background-color: darkslategray;
}
.eachTd {
  color: lightslategray;
}
