.title {
  color: darkcyan;
  background-color: lightcyan;
  text-align: center;
}
.titleAdd {
  color: darkcyan;
  background-color: lightgreen;
  width: 16vw;
}

.form {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}
.input {
  color: blue;
  border: 1px solid lightseagreen;
  margin: 10px;
}
.label {
  color: lightseagreen;
  margin: 10px;
}
.btnAdd {
  width: 200px;
  height: 30px;
  background-color: lightblue;
  color: darkmagenta;
  border-radius: 25%;
  font-weight: bold;
}
.btnReset {
  margin: 0 0 15px 15px;
  width: 80px;
  height: 30px;
  background-color: lightblue;
  color: darkmagenta;
  font-weight: bold;
}
.table {
  border: solid 2px black;
  width: 98vw;
  text-align: left;
  background-color: lightblue;
}

.eachTh {
  color: lightsalmon;
  border-bottom: solid 1px black;
  background-color: darkslategray;
}

.eachTd {
  color: lightslategray;
  padding: 5px;
}

.link {
  color: darkred;
}
